@font-face {
    font-family: "Galaxy";
    font-style: normal;
    font-weight: 500;
    font-display: block;
    src: url(https://galxestatic.com/w/s/1b47ad3/fonts/galaxy.a33a70b.ttf) format("truetype")
}

@font-face {
    font-family: "inter";
    font-style: normal;
    font-weight: 400;
    font-display: block;
    src: url(https://galxestatic.com/w/s/1b47ad3/fonts/inter-regular.2391725.ttf) format("truetype")
}

html, body, :root {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%; /* Menetapkan tinggi 100% untuk elemen root (html dan body) */
    background: black;
    font-size: 16px; //
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%; /* Menetapkan tinggi 100% untuk kontainer */
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-family: Galaxy;
    margin-bottom: 1px;
}

.headline {
    animation-name: headlineColor;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

p {
    text-align: center;
    font-family: Inter;
    font-size: 1rem;
    color: white;
    margin-bottom: 20px;
}

.icon {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* Add some space between the icons and the <p> tag */
}

.github, .twitter {
    flex: 1;
    text-align: center;
    margin: 10px;
}

.github svg, .twitter svg {
    width: 40px;
    height: 40px;
    vertical-align: middle;
}

@keyframes headlineColor {
    0% { color: #10FF9B; }
    100% { color: white; }
    50% { color: #2EDEF0; }
}